
.DS_Store

Week4/notebook/.ipynb_checkpoints/intro2dataviz-checkpoint.ipynb

.ipynb_checkpoints
.pyc
__pycache__


Week11/notebook/create.sql

Week11/notebook/help.txt

Week11/notebook/test

Week12/notebook/delete.sql

Week12/notebook/delete2.sql

Week12/notebook/insert.sql

Week12/notebook/orderby.sql

Week12/notebook/rename.sql

Week12/notebook/select.sql

Week12/notebook/update.sql

Week12/notebook/update2.sql

Week12/notebook/test
